<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myapp.backend.domain.comment.mapper.CommentLikeMapper">
    <insert id="insert" parameterType="myapp.backend.domain.comment.domain.CommentLike" useGeneratedKeys="true" keyProperty="commentlikeId">
        INSERT INTO commentslikes (comment_id, user_id, created_at)
        VALUES (#{commentId}, #{userId}, #{createdAt})
    </insert>

    <delete id="delete">
        DELETE FROM commentslikes WHERE comment_id = #{commentId} AND user_id = #{userId}
    </delete>

    <select id="exists" resultType="boolean">
        SELECT COUNT(*) > 0 FROM commentslikes WHERE comment_id = #{commentId} AND user_id = #{userId}
    </select>

    <select id="countByCommentId" resultType="int">
        SELECT COUNT(*) FROM commentslikes WHERE comment_id = #{commentId}
    </select>
</mapper>

